#coPage {
  padding-bottom: 0;
}

#paymentForm {
  .dropdown-wrapper i {
    height: 36px;
  }
}

@include max(799px) {
  #coPage.zBilling {
    width: 100%;
    #coBreadcrumbs {
      position: static;
      li {
        margin-left: 0;
        margin-right: 30px;
      }
    }
    #coMain {
      width: 490px;
    }
    #paymentForm, #addressForm {
      width: 100%;
      .form-group .controls .dropdown-wrapper.large i:after {
        margin-top: 0;
      }
    }
    .coProductGroup .item {
      width: 100%;
    }
    .coBoxHead .itemDetail {
      width: 48%;
    }
    .itemPrice {
      width: 10%;
    }
    .coBoxBody .coProductGroup .price-mobile {
      width: 35%;
    }
    .coBoxBody .coProductGroup .itemPrice {
      font-size: 14px;
    }
    .coProductGroup .itemImage img {
      width: 100%;
    }
    .coBoxBody .coProductGroup .itemQuantity {
      width: 50%;
      text-align: center;
    }
    .coProductGroup .itemDetail {
      padding-left: 5px;
      width: 45%;
    }
    #coMain {
      width: 65%;
    }
    #coSecondary.secondary-wide {
      width: 34%;
    }
  }
}

@include max(767px) {
  #coPage.zBilling {
    width: 100%;
    #coBreadcrumbs {
      display: none;
      li {
        float: none;
      }
    }
  }
}
