.houzz-header {
  input.navbar-search-box {
    padding-left: 125px;
  }
  button.search-submit {
    right: 0;
    left: auto;
  }
  #search-option {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 105px;
    height: 94%;
    border: none;  
    border-right: 1px solid #ddd;  
  }
} 

.home-signup-button .nav-signup-button {
  position: relative;
  line-height: 28px;
  height: 60px;
  padding: 17px 10px 16px 10px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 16px;
    top: 22px;
    left: 0;
    background-color: #333;
  }
}

.houzz-header .nav-button:hover {
  color: #3d8901;
}

.hp-visitor-block-item__desc {
  div {
    min-height: 48px;
    font-size: 18px;
  }
}

.section {
  margin-top: 30px;
  border: 1px solid #e6e6e6;
  padding: 10px 10px 0;
  &.first {
    background-color: #D7D7D7;
  }
  &.second {
    background-color: #eee;
  }
  &.third {
    background-color: #D7D7D7;
  }
  .section-header {
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    .section-title {
      float: left;
      font-size: 18px;
      font-weight: bold;
      line-height: 32px;
    }
    .more {
      float: right;
      line-height: 32px;
    }
  }
  .section-content {
    .feedItem.square {
      width: 100%;
      float: none;
      border: none;
      background-color: #fff;
    }
    .feedItem.home-feed .feed-description.product-topic {
      border-top: none;
    }
    .feedItem.square .feed-snapshot {
      width: 100%;
    }
  }
}

@include max(767px) {
  .z-home {
    &.homeSliderWrapper {
      height: auto;
    }
    .signUpBox.new-hp-signup-box {
      top: 50%;
      padding: 10px;
    }
    .cta .hero-title {
      font-size: 22px;
    }
    .signUpBox .hp-button {
      margin: 0 0 10px;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 38px;
    }
    .signUpBox .hp-button__icon--email {
      margin-top: 8px;
    }
    .signUpBox .hp-button__icon--fb {
      margin-top: 6px;
    }
    #hp-visitor-global-sites .col-xs-4, 
    #square-slider-1 .ppb__carousel-icon-row .col-xs-4 {
      width: 33.333333%;
    }
  } 
}