.hz-main-contents.about {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  #about-houzz-header {
    width: 100%;
  }
  .press-item {
    min-height: 400px;
  }
  .zcol:nth-child(3n+3) {
    .press-item {
      border-right: none;
    }
  }
  .data-img:hover .download-glass {
    display: block;
  }
  .zrow.press {
    width: 90%;
    margin: 0 auto;
    .zcol:nth-child(3n+1) {
      clear: left;
    }
  }
  .houzz-data {
    width: 640px;
    margin: 0 auto;
  }  
  .founder-img {
    float: left;    
    width: 338px;
    height: 431px;
    margin-left: 50px;
  }
}

#about-houzz-header .about-houzz-tabs {
  background: transparent;
  height: 50px;
  margin-bottom: 0px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

@include min(980px) {
  .hz-main-contents.about {
    width: 980px;    
    #about-houzz-header {
      width: 980px;
    }    
  }
}

@include max(979px) {
  .hz-main-contents.about .press-item {    
    border: none!important;
  }
  .hz-main-contents.about .about-us-description {
    .founder-img {
      width: 50%;
      height: auto;
      margin-left: 0;
      padding-right: 20px;
      img {
        width: 100%;
      }
    }
    .founder-story {
      width: 50%;
    }
  }
}

@include max(767px) {
  .hz-main-contents.about {
    .zrow.press {     
      .zcol:nth-child(3n+1) {
        clear: none;
      }
      .zcol:nth-child(2n+1) {
        clear: left;
      }
    }
    .zcol:nth-child(3n+3) {
      .press-item {
        border-right: 1px dotted #e6e6e6;
      }
    }
    .zcol:nth-child(3n+2) {
      .press-item {
        border-right: none;
      }
    }
  }
}

@include min(640px) {
  .houzz-data {
    width: 100%;
  }
}

@include max(639px) {
  .hz-main-contents.about iframe {
    width: 100%;
    height: 200px;
  }
}

@include max(479px) {
  .hz-main-contents.about {
    .zrow.zm2 .zcol {
      width: 100%;
    }
    .press-item {
      min-height: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .bottom-wrapper {
      height: auto;
    }
    .press-logo,
    .press-details {
      position: static;
      margin-top: 10px;
    }    
  }
  #about-houzz-header .about-houzz-tabs {
    height: auto;
  }
}