.zrow {
  .zLeftSidebar {  
    @include min(1280px) {
      width: 220px
    }  
    @include max(1279px) {
      width: 20%;
    }
    @include max(767px) {
      display: none;
    }
  }
  .zRightSideContent {  
    @include min(1280px) {
      width: 964px
    }  
    @include max(1279px) {
      width: 80%;
    }
    @include max(767px) {
      width: 100%;
    }   
  }
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
  .zcol {
    position: relative;
    float: left;
    min-height: 1px;
  }
  &.z15 {
    margin-left: -15px;
    margin-right: -15px;
    .zcol {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &.z8 {
    margin-left: -8px;
    margin-right: -8px;
    .zcol {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &.zd4 {
    .zcol {
      width: 25%;
    }
  }
  &.zd3 {
    .zcol {
      width: 33.333333333%;
    }
  }
  @include max(799px) {
    &.zp4 {
      .zcol {      
        width: 25%;
      }
    }
    &.zp3 {
      .zcol {      
        width: 33.3333333%;
      }
    }
    &.zp2 {
      .zcol {      
        width: 50%;
      }
    }
  }
  @include max(767px) {
    &.zm2 {
      .zcol {      
        width: 50%;
      }
    }
    &.zm1 {
      .zcol {      
        width: 100%;
      }
    }
  }
  @include max (799px) {
    img {
      max-width: 100%;
    }
  }
}

#zLeftSidebar,
#zRightSideContent {
  background: #fff;
  padding: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}