.zrow {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
  .zcol {
    position: relative;
    float: left;
    min-height: 1px;
  }
  // photos
  .zLeftSidebar {
    @include min(1280px) {
      width: 220px
    }
    @include max(1279px) {
      width: 20%;
    }
    @include max(767px) {
      display: none;
    }
  }
  // photos
  .zRightSideContent {
    @include min(1280px) {
      width: 964px
    }
    @include max(1279px) {
      width: 80%;
    }
    @include max(767px) {
      width: 100%;
    }
  }
  // product single
  .zLeftSidebarContent {
    @include min(1280px) {
      width: 740px
    }
    @include max(1279px) {
      width: 66.666666%;
    }
    @include max(767px) {
      width: 100%;
    }
  }
  // product single
  .zRightSidebarWide {
    @include min(1280px) {
      width: 450px
    }
    @include max(1279px) {
      width: 33.333333%;
    }
    @include max(767px) {
      display: none;
    }
  }
  &.z15 {
    margin-left: -15px;
    margin-right: -15px;
    >.zcol {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &.z10 {
    margin-left: -10px;
    margin-right: -10px;
    >.zcol {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &.z8 {
    margin-left: -8px;
    margin-right: -8px;
    >.zcol {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &.zd4 {
    .zcol {
      width: 25%;
      &:nth-child(4n+5) {
        clear: both;
      }
      @include max(767px) {
        &:nth-child(2n+3) {
          clear: both;
        }
      }
    }
  }
  &.zd3 {
    .zcol {
      width: 33.333333333%;
    }
  }
  @include max(799px) {
    &.zp4 {
      .zcol {
        width: 25%;
      }
    }
    &.zp3 {
      .zcol {
        width: 33.3333333%;
      }
    }
    &.zp2 {
      .zcol {
        width: 50%;
      }
    }
  }
  @include max(767px) {
    &.zm2 {
      .zcol {
        width: 50%;
      }
    }
    &.zm1 {
      .zcol {
        width: 100%;
      }
    }
  }
  @include max (799px) {
    img {
      max-width: 100%;
    }
  }
}

@include max(767px) {
  .zrow {
    margin-left: -2px !important;
    margin-right: -2px !important;
    .zcol {
      padding-left: 2px !important;
      padding-right: 2px !important;
    }
  }
}

#zLeftSidebar,
#zRightSideContent,
.zRightSideContentInner {
  background: #fff;
  padding: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  &.bottom {
    background-color: transparent;
    box-shadow: none;
    padding: 16px 0 0;
  }
}
