.sidebar .sidebar-body .sidebar-item .sidebar-item-label.selected {
  color: #3d8901;
}

.sidebar .sidebar-body .sidebar-item .sidebar__level2 {
  padding-left: 9px;
  display: none;
  &.selected {
    color: #3d8901;
  }
  .sidebar-item-label {
    padding-top: 0;
  }
}