.sidebar-item.all {
  height: auto!important;
}

.sidebar .sidebar-body .sidebar-item .sidebar-item-label.selected {
  color: #3d8901;
}

.sidebar .sidebar-body .sidebar-item .sidebar__level2 {
  padding-left: 9px;
  display: none;
  &.selected {
    color: #3d8901;
  }  
}

.sidebar.filter-tree .D1.sidebar-item .sidebar-item-label {
  padding-left: 9px;
}

.shop-houzz-giftcards-sidebar {
  background: #fff;
  padding: 16px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
}
