@include max(767px) {
  .mb-show {
    display: block;
  }
  .mb-hide {
    display: none;
  }
  body.z-professionals {
    .leftSideBar {
      display: none;
    }
    .rightSideContent {
      width: 100%;
    }
    .pro-landing-hero-v2 .pro-landing-hero__content {
      padding-left: 10px;
      padding-right: 10px;
    }
    ul.pro-search.pro-search-v2 .pro-search-button-input {
      width: 100%;
      margin-top: 15px;
      .pro-search-button {
        border-radius: 3px;
      }
    }
    ul.pro-search.pro-search-v2 .pro-type-search-input {
      width: 80%;
    }
    ul.pro-search.pro-search-v2 #proZipSearch {
      border-radius: 0 3px 3px 0;
    }
    .pro-landing-tiles {
      .zcol {
        margin-bottom: 20px;
      }
    }
    .horizontal.pro-card .pro-cover-photos {
      width: 100%;
    }
    .horizontal.pro-card .vcard {
      float: left;
      margin-top: 20px;
    }
    .rightSideContent-bottom {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .z-home {
    .homeSliderWrapper {
      height: auto;
    }
    .signUpBox.new-hp-signup-box {
      top: 50%;
      padding: 10px;
    }
    .cta .hero-title {
      font-size: 22px;
    }
    .signUpBox .hp-button {
      margin: 0 0 10px;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 38px;
    }
    .signUpBox .hp-button__icon--email {
      margin-top: 8px;
    }
    .signUpBox .hp-button__icon--fb {
      margin-top: 6px;
    }
    #hp-visitor-global-sites .col-xs-4, 
    #square-slider-1 .ppb__carousel-icon-row .col-xs-4 {
      width: 33.333333%;
    }
  }
  .z-photos.hbs {
    .leftSideBar {
      display: none;
    }
    .rightSideContent {
      width: 100%;
    }
    .whiteCard.xl .photo {
      width: 100%;
    }
    .headerContainer .pagination {
      float: none;
    }
  }
  .hbs .rightSideBarWide,
  #relatedSearches,
  #related_shopping {
    display: none;
  }
  .z-product-single {
    .leftSideContentNarrow {
      padding-right: 0;
      .product-promotion,
      .products-cobuy,
      .recently-viewed {
        display: none;
      }
    }
    .rightSideBarWide {
      width: 100%;
      display: block;
      padding: 0 10px;
      &.mb-show {
        float: none;
      }
    }
    .spaceContent {
      border-top: none;
    }    
    .header-1 {
      font-size: 22px;
    }
    #keywordsDiv {
      display: none;
    }
  }
  .z-sign-in {
    .signup #authFlowContainer, 
    #mainContent.signin #authFlowContainer,
    #mainContent.signin {
      width: 100%;
    }
    .authFlowTitle {
      padding-left: 30px;
    }
    .dlgUserDetails:after {
      display: none;
    }
    .signin .dlgUserDetails {
      margin-right: 0;
      width: 100%;
      padding: 0 15px;
    }
  }
  .z-view-cart {
    #coPage #coHeader h1.contact-support-top {
      padding: 0;
    }
    .coBoxBody .coProductGroup .price-mobile {
      width: 100%;
      padding-left: 21%;
    }
    .coBoxBody .coProductGroup .itemPrice {
      width: 25%;
      margin-top: 8px;
    }
    .coBoxBody .coProductGroup .itemQuantity {
      width: 70%;
      .inline-dropdown-container {
        display: block;
        text-align: center;
      }
      .dropdown-wrapper-2 {
        display: inline-block;
      }
    }
    .coBoxBody .coProductGroup .price-mobile .itemQuantity .actions {
      display: inline-block;
      margin-right: 10px;
      .moveToWishList {
        display: inline;
      }
    }
    #orderSummaryBox .continue {
      height: auto;
      padding-bottom: 35px;
    }
    #coPage #coSecondary #box-bottom {
      width: auto;
      left: 10px;
      right: 10px;
    }
  }
  .z-checkout {
    #coPage {
      width: 100%;
    }
    #coBreadcrumbs {
      display: block;
      li {
        float: none;
      }
    }
    #coBreadcrumbs {
      display: none;
    }
  }
  .hbs .rightSideContent {
    float: none;
  }
  .hbs .spaceData .col-xs-4 {
    width: 33.33333333%;
  }
  .hbs .spaceData .col-xs-8 {
    width: 66.66666667%;
  }
  #spaceBuzzes {
    padding: 15px;
  }
  .scroll-block {
    display: block;
  }
  .mainImageWrap {
    img {
      width: 100%;
      height: auto;
    }
  }  
  .spaceContent {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 16px;
    margin-bottom: 16px;
  }
  .navigationTopicBreadcrumbs {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 16px;
    margin-bottom: 16px;
  }
  .wrapper {
    width: 100%;
  }  
  .hbs .leftSideContentNarrow {
    float: none;
    width: 100%;
  }
  #mainArea {
    min-width: 0;
  }
  .hbs .container {
    width: 100%;
  }
  .hbs {
    .col-xs-4,
    .col-xs-8 {
      width: 100%;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  #unified-tab-content {
    min-height: 0;
  }
  .feedItem.square {
    width: 100%;
    .feed-snapshot {
      width: 100%;
      height: auto;
    }
  }
  .hp-seo-container-table-row {
    display: block;
  }
  .hp-visitor-browse-links.hp-visitor-browse-links--rooms {
    width: 100%;
    margin-bottom: 16px;
  }
  .hp-visitor-promo {
    width: 100%;
    display: block;
    margin-bottom: 16px;
  }
  .hp-visitor-browse-links {
    width: 100%;
  }
  .hp-visitor-browse-links.hp-visitor-browse-links--pros {
    height: auto;
  }
  .hp-visitor-promo__img {
    width: 100%;
  }
  #unified-stories .loadMoreBtn {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .hz-mb-show {
    display: block;
  }
}

@include max(639px) {
  .secondary-rooms-header #navContainer {
    height: 0;
  }
  .hbs .container {
    padding: 0;
  }
  .feedItem.home-feed .feed-snapshot .feed-type-indicator .featured-title {
    font-size: 23px;
  }
  .feedItem.home-feed .feed-hover-buttons {
    opacity: 1;
  }
  .whiteCard.xl .photo {
    width: 100%;
  }
  .photoMeta {
    position: static;
  }
  .headerContainer .pagination {
    float: right;
    margin-top: 10px;
  }
  .content-row.xl .whiteCard .photoMeta .photoDetails.bottom {
    position: static;
  }
}