#body-container #signup {
  width: 675px;
  opacity: 1;
  display: block;
  margin-top: 200px;
}

@include max(799px) {
  #body-container #signup {
    width: 85%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
  #body-container #signup #body .section #emailSignupForm {
    width: auto;
  }
  #body-container #signup #body .facebook-signup {
    padding-left: 0;
  }
}

@include max(767px) {
  #body-container #signup {
    position: static;
    margin: 20px auto;
    transform: translate(0, 0);
    .header-1, .header-2, .header-3, .header-4, .header-5, .header-6 {
      margin: 5px 0;
    }
    .create-account:after {
      display: none;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.filterModal {
  display: none;
  position: fixed;  
  top: 30px;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 999;
  background-color: #fff;
  .modal-header {
    background-color: #f0f0f0;
    padding: 0 15px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
  }
  .modal-body {
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    padding: 0;
    .sidebar-header {
      padding-left: 20px;
      font-size: 16px;
      padding: 17px 0 17px 20px;
      line-height: 16px;
      border-bottom: 1px solid #e6e6e6;
      font-weight: bold;
      .more-icon,
      .down-icon {
        float: right;
        margin-right: 20px;
        margin-top: 3px;
      }
    }
    .sidebar-item {
      padding: 17px 0px;
      display: block;
      line-height: 16px;
      width: 100%;
      padding-left: 40px;
      padding-right: 20px;
      font-size: 16px;
      border-bottom: 1px solid #e6e6e6;
    }
    .more-items .sidebar-item-label {
      font-weight: normal;
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-color: #000;
  opacity: .5;
  z-index: 777;
}

.saveModal {
  width: 680px;  
  background-color: #fafafa;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  .modalHeader {
    font-size: 24px;
    line-height: 1.2;
    background-color: #f0f0f0;
    color: #333;
    padding: 15px;
    font-weight: normal;
  }
  .modalBody {
    padding: 15px;
    height: 235px;
    .productThumb {
      float: left;
      width: 30%;
      height: 100%;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
    .rightContent {
      float: left;
      width: 70%;
      padding-left: 15px;
    }
    .successInfo {
      display: none;
      p {
        font-weight: bold;
        margin-bottom: 0;
      }
      a {
        color: #f9a518;
        font-weight: bold;
      }
    }
    .add-comment {
      position: relative;
      padding: 0;      
      height: 204px;
      margin-top: 0;
      border: 1px solid #ccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      opacity: .99;
      .form-control {
        resize: none;
        overflow-y: auto;
        height: 84%;
        margin: 0;
        padding: 10px;
        border: none;
        font-size: 14px;
      }
      .comment-privacy {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 16%;
        margin: 0;
        padding: 5px 10px 9px;
        border-top: 1px dotted #e6e6e6;
        .add-white-box {
          width: 15px;
          height: 15px;
          margin-right: 10px;
          border: 1px solid #ccc;
          background: #fff;
          float: left;
        }        
      }
      .selected .add-white-box.hzi-Check-Sidenav {
        color: #f9a518;
        line-height: 13px;
        font-size: 11px;
        position: relative;
      }
    }
  }
  .modalFooter,
  .success {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    &.success {
      display: none;
    }
    .cancel,
    .done {
      display: inline-block;
      zoom: 1;
      margin-bottom: 0;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
      padding: 4px 18px;
      font-size: 13px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      overflow: visible;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-appearance: none;
      color: #4c4c4c;
      border: 1px solid #ccc;
      background: #e7e7e7;
    }
    .save,
    .email {
      display: inline-block;
      zoom: 1;
      margin-bottom: 0;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
      padding: 4px 18px;
      font-size: 13px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      overflow: visible;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-appearance: none;
      color: #fff;
      border: 1px solid #f9a518;
      background: #f9a518;
      margin-left: 5px;
    }
  }
}

@include max(767px) {
  .saveModal {
    max-width: 90%;
  }
}

@include max(639px) {
  .saveModal  {
    .modalBody {
      height: auto;
      .productThumb {
        width: 100%;
        text-align: center;
        height: 150px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .rightContent {
        width: 100%;
        margin-top: 16px;
        padding-left: 0;
      }
      .add-comment {
        height: 180px;
      }
    }
  }
}