.whiteCard.xl {
  border: none;
  .photo {
    position: relative;
    overflow: hidden;
    min-height: 250px;
    width: 550px;
  } 
  .photoMeta {
    position: absolute;
    padding-left: 10px;
    top: 0;
    left: 550px;
    right: 0;
    bottom: 0;
    .user-thumb {
      display: inline-block;
      zoom: 1;
      margin-right: 10px;
      width: 42px;
      height: 42px;
    }
    .user-name-wrapper {
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      max-width: 148px;
    }
    .uploader, .photoInfo {
      padding: 10px;
      overflow: hidden;
    }
    .photoDetails.bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .autoDesc {
      background: #fff;
      font-size: 13px;
      color: #666;
      padding: 7px 10px 0px 10px;
    }
    .stats {
      background: #fff;
      font-size: 13px;
      color: #666;
      padding: 7px 10px;
    }
  }
  @include max(799px) {
    .photo {
      width: 66.666667%;
      float: left;
    }
    .imageArea {
      width: 100%;
    }
    .photoMeta {
      position: static;
    }
    .photoMeta .photoDetails.bottom {
      position: static;
      overflow: hidden;
    }
    .shareBtns .social-button-row, .shareBtns .action-button-row {
      float: none;
    }
    .whiteCard.xl .photoMeta .stats,
    .whiteCard.xl .photoMeta .autoDesc {
      display: none;
    }
  }
  @include max(767px) {
    .photo {
      width: 100%;
    }    
  }
}

@include max(767px) {
  .pageDescriptionPeekable,
  .filter-pagination-div {
    display: none;
  }
}


#filterButton {
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #4c4c4c;
  background-color: #fafafa;
  border-color: #cccccc;
  padding: 7px 16px;
  font-size: 17px;
  line-height: 1.3333333;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  margin: 15px 0;
}