.topic-group {
  margin-bottom: 20px;
}

.featured-review {
  float: left;
  width: 49%;
  &:first-child {
    margin-right: 2%;
  }
  .featured-review-thumb {
    border: 1px solid #e6e6e6;
    padding: 10px;
    float: left;
  }
  .featured-review-thumb-wrapper {
    width: 80px;
    height: 80px;
  }
  .featured-review-body {
    margin-left: 100px;
    padding: 0 12px 40px;
  }
  .featured-review-rating {
    margin-bottom: 10px;
  }
  .featured-review-rate-stars {
    display: inline-block;
    zoom: 1;
  }
  .featured-review-date {
    color: #666;
  }
  .featured-review-rate-stars .pro-rating {
    width: auto;
    margin-right: 10px;
  }
  .rate-star {
    margin-right: 0;
  }
}

.shop-landing-module-content.slider {
  padding: 0 35px;
}
#product-slider-4 {
  .product-thumb:hover {
    cursor: zoom-in;
  }
  .product-content {
    padding: 0 10px;
  }
  &.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    background: transparent;
    color: #666;
    font-size: 30px;
    margin: 0;
    padding: 0;
    &.owl-prev {
      right: 100%;
    }
    &.owl-next {
      left: 100%;
    }
  }
} 

@include max(799px) {
  .shop-landing-module-content {
    .topic-content {
      padding-left: 0;
      padding-right: 0;
      .topic-title {
        font-size: 16px;
      } 
      .sub-topics-list {
        margin-left: 0;
      }
    }
  }  
}

@include max(767px) {
  .featured-review {
    width: 100%;
    &nth-child {
      margin-right: 0;
    }
  }
}