.content-row {
  .whiteCard {
    border: none;
  }
  .whiteCard.m .photo-title,
  .whiteCard.m .product-title {
    max-height: none;
  }
  .whiteCard.m {
    margin-bottom: 30px;
    margin-left: 0;
  }
  .imageArea {
    width: auto;
  }
}

#projectSpaces .whiteCard .imageArea,
.browsePhotos .whiteCard .imageArea {
  display: block;
}

.whiteCard .photo a {
  display: block;
  height: 100%;
}

@include max(799px) {
  .hzBtn {
    padding-left: 10px;
    padding-right: 10px;
  }
}
