.shop-landing-module .products-wrapper .product-item-column {
  width: 100%;
}

@include max(799px) {
  .shop-landing-module .shop-landing-grid-promotions {
    margin-left: 0;
    .shop-landing-promotion {
      margin-left: 0;
      width: auto;
    }
  }
}