.pro-tile {
  width: 100%;
}

@media (min-width: 1280px) {
  .hz-grey-bg .horizontal.pro-card .vcard {
    width: 530px;
  }
}

.zRightSideContentInner.bottom {
  margin-top: 20px;
  .r-bottom-content + .r-bottom-content {
    margin-top: 20px;
  }
}

@include max(799px) {
  .pro-landing-hero-v2 .pro-landing-hero__content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .horizontal.pro-card .pro-cover-photos {
    width: 45%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .horizontal.pro-card .vcard {
    float: none;
    width: auto;
    overflow: hidden;
  }
  .horizontal--phone-contact.pro-card .pro-meta-extra {
    position: static;
    margin-top: 20px;
  }
  .horizontal--phone-contact.pro-card .pro-meta-extra .pro-list-item + .pro-list-item {
    margin: 0;
  }
}

@include max(767px) {
  .pro-landing-hero-v2 .pro-landing-hero__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  ul.pro-search.pro-search-v2 .pro-search-button-input {
    width: 100%;
    margin-top: 15px;
    .pro-search-button {
      border-radius: 3px;
    }
  }
  ul.pro-search.pro-search-v2 .pro-type-search-input {
    width: 80%;
  }
  ul.pro-search.pro-search-v2 #proZipSearch {
    border-radius: 0 3px 3px 0;
  }
  .pro-landing-tiles {
    .zcol {
      margin-bottom: 20px;
    }
  }
  .horizontal.pro-card .pro-cover-photos {
    width: 100%;
  }
  .horizontal.pro-card .vcard {
    float: left;
    margin-top: 20px;
  }
  .zRightSideContentInner.bottom {
    padding-left: 10px;
    padding-right: 10px;
  }
}