.mb-hide {
  @include max(639px) {
    display: none;
  }
}

.mb-show {
  display: none;
  @include max(639px) {
    display: block;
  }
}

@include max(999px) {
  .hbs .container {
    width: 100%;
    padding: 0 10px;
  }
}

@include max(359px) {
  #navHome {
    width: 115px;
  }
  .shop-stories-feed-block.feedItem.home-feed .feed-meta-container {
    max-height: 90px;
  }
  #footer-menu {
    line-height: 24px;
  }
}





