.mb-hide {
  @include max(639px) {
    display: none;
  }
}

.mb-show {
  display: none;
  @include max(639px) {
    display: block;
  }
}

@include max(999px) {
  .hbs .container {
    width: 100%;
    padding: 0 10px;
  }
}





