.mb-hide {
  @include max(639px) {
    display: none;
  }
}

.mb-show {
  display: none;
  @include max(639px) {
    display: block;
  }
}

@include max(999px) {
  .hbs .container {
    width: 100%;
    padding: 0 10px;
  }
}

@include max(799px) {
  body.hz-grey-bg .leftSideBar {
    display: none;
  }
  body.hz-grey-bg .rightSideContent {
    width: 100%;
  }
  .feedItem.square .feed-snapshot {
    width: 246px;
    height: 225px;
  }
  .feedItem.home-feed .feed-snapshot .feed-type-indicator .featured-title {
    font-size: 14px;
  }
  .houzz-header-secondary--simplified .header-nav-rooms .header-nav-room > .menu-title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .houzz-header-secondary--simplified {
    .header-nav-rooms {
      text-align: left;
      .header-nav-room > .menu-title {
        font-size: 13px;
      }
    }
    .text-primary {
      font-size: 13px;
    }
    .hsh__column .hsh__list {
      padding-right: 15px;
    }
    .hsh__menu--sale-toplvl .hsh__column + .hsh__column,
    .hsh__menu--pros-toplvl .hsh__column + .hsh__column,
    .hsh__menu--photos-toplvl .hsh__column + .hsh__column {
      padding-right: 15px;
    }
    .header-nav-rooms .header-nav-dropdown-menu {
      font-size: 11px;
    }
  }
  #navHeader .menu-active .menu-body {
    left: 0;
    width: 100%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    &.hsh__menu--sale-toplvl{
      right: 0;
      left: auto;
      width: auto;
      padding-left: 0!important;
      padding-right: 0!important;
      .hsh__column {
        padding-left: 10px;
        padding-right: 5px;
      }
      .hsh__column:last-child .hsh__list {
        padding-right: 10px;
      }
    }
    &.hsh__menu--pros-toplvl {
      .hsh__column {
        padding-right: 0;
        padding-left: 5px;
        .hsh__list {
          padding-right: 0;
        }
      }
    }
    &.hsh__menu--photos-toplvl {
      padding-left: 5px!important;
      padding-right: 5px!important;
      .hsh__column {
        padding-right: 0;
        .hsh__list {
          padding-right: 0;
        }
      }
    }
  }
}


@include max(767px) {
  .hbs .spaceData .col-xs-4 {
    width: 33.33333333%;
  }
  .hbs .spaceData .col-xs-8 {
    width: 66.66666667%;
  }
  #spaceBuzzes {
    padding: 15px;
  }
  .scroll-block {
    display: block;
  }
  .mainImageWrap {
    img {
      width: 100%;
      height: auto;
    }
  }  
  .spaceContent {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 16px;
    margin-bottom: 16px;
  }
  .navigationTopicBreadcrumbs {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 16px;
    margin-bottom: 16px;
  }
  .wrapper {
    width: 100%;
  }
  .hbs .rightSideBarWide,
  #relatedSearches,
  #related_shopping {
    display: none;
  }
  .hbs .leftSideContentNarrow {
    float: none;
    width: 100%;
  }
  #mainArea {
    min-width: 0;
  }
  .hbs .container {
    width: 100%;
  }
  .hbs {
    .col-xs-4,
    .col-xs-8 {
      width: 100%;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  #unified-tab-content {
    min-height: 0;
  }
  .feedItem.square {
    width: 100%;
    .feed-snapshot {
      width: 100%;
      height: auto;
    }
  }
  .hp-seo-container-table-row {
    display: block;
  }
  .hp-visitor-browse-links.hp-visitor-browse-links--rooms {
    width: 100%;
    margin-bottom: 16px;
  }
  .hp-visitor-promo {
    width: 100%;
    display: block;
    margin-bottom: 16px;
  }
  .hp-visitor-browse-links {
    width: 100%;
  }
  .hp-visitor-browse-links.hp-visitor-browse-links--pros {
    height: auto;
  }
  .hp-visitor-promo__img {
    width: 100%;
  }
  #unified-stories .loadMoreBtn {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .hz-mb-show {
    display: block;
  }
}

@include max(639px) {
  .secondary-rooms-header #navContainer {
    height: 0;
  }
  .hbs .container {
    padding: 0;
  }
  .feedItem.home-feed .feed-snapshot .feed-type-indicator .featured-title {
    font-size: 23px;
  }
  .feedItem.home-feed .feed-hover-buttons {
    opacity: 1;
  }
  .whiteCard.xl .photo {
    width: 100%;
  }
  .photoMeta {
    position: static;
  }
  .headerContainer .pagination {
    float: right;
    margin-top: 10px;
  }
  .content-row.xl .whiteCard .photoMeta .photoDetails.bottom {
    position: static;
  }
}

