.dlgUserDetails, .signin .dlgUserDetails {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: -50px;
    width: 1px;
    height: 110%;
    background-color: #e7e7e7;
  }
}

@include max(799px) {
  .z-sign-in {
    .dlgUserDetails, .signin .dlgUserDetails {
      padding-left: 30px;
    }
  }  
}

@include max(767px) {
  .z-sign-in {
    .signup #authFlowContainer, 
    #mainContent.signin #authFlowContainer,
    #mainContent.signin {
      width: 100%;
    }
    .authFlowTitle {
      padding-left: 30px;
    }
    .dlgUserDetails:after {
      display: none;
    }
    .signin .dlgUserDetails {
      margin-right: 0;
      width: 100%;
      padding: 0 15px;
    }
  }
}