.z-view-cart {
  #coPage #coHeader h1.contact-support-top {
    padding: 0;
  }
  .coBoxBody .coProductGroup .price-mobile {
    width: 100%;
    padding-left: 21%;
  }
  .coBoxBody .coProductGroup .itemPrice {
    width: 25%;
    margin-top: 8px;
  }
  .coBoxBody .coProductGroup .itemQuantity {
    width: 70%;
    .inline-dropdown-container {
      display: block;
      text-align: center;
    }
    .dropdown-wrapper-2 {
      display: inline-block;
    }
  }
  .coBoxBody .coProductGroup .price-mobile .itemQuantity .actions {
    display: inline-block;
    margin-right: 10px;
    .moveToWishList {
      display: inline;
    }
  }
  #orderSummaryBox .continue {
    height: auto;
    padding-bottom: 35px;
  }
  #coPage #coSecondary {
    padding-bottom: 20px;
    #box-bottom {
      width: auto;
      left: 10px;
      right: 10px;
    }
  }
} 