.houzz-header-secondary {
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

/* break point */
@media (min-width: 1280px) {
  .wrapper {
    width: 1100px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1099px) {
  .wrapper .wrapper {
    width: 100%;
    padding: 0 8px;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#stickyFooterActions {
  bottom: 75px;
}

@media screen and (max-width: 799px) {
  #stickyFooterActions {
    bottom: 7px;
  }
}

.houzz-header .hzi-MH-Close,
body.sidenav-in .hzi-MH-Menu {
  display: none;
}

body.sidenav-in .hzi-MH-Close {
  display: block;
}

.houzz-header .header-nav .hzi-MH-Menu,
.houzz-header .header-nav .hzi-MH-Cart,
.houzz-header .header-nav .hzi-MH-Search,
.houzz-header .header-nav .hzi-MH-Close {
  font-size: 28px;
  line-height: 1;
}

#navHome .sprite-header-logo {
  margin-top: 13px;
  margin-left: 5px;
}

.houzz-header .nav-button,
.houzz-header .hzi-font,
.houzz-header .nav-button:hover .hzi-font {
  color: #333;
}

#navHeader2 {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1499;
  backface-visibility: hidden;
}

#navHeader2 .menu-body {
  display: none;
}

#navHeader2 .menu-active .menu-body {
  display: block;
}

#navHeader2 .houzz-header .header-nav {
  position: static;
}

#navHeader2 .houzz-header .navbar-search-bar {
  padding: 10px 0 0;
}

#navSearchExp {
  background: #fff;
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 1000px;
  height: calc(100vh - 55px);
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
  border-radius: 0;
}

#navSearchExp .container {
  padding: 0 10px;
}

#navSearch {
  position: static;
}

.sidenav {
  display: none;
  border-right: 1px solid #e6e6e6;
  width: 82%;
  position: absolute;
  overflow-y: hidden;
  margin-left: -82%;
  top: 0;
  z-index: 1498;
  background: #fff;
  height: 100%;
  text-align: left;
}

body.sidenav-in {
  overflow: hidden;
}

body.sidenav-in .sidenav {
  margin-left: 0;
  display: block;
}

body.sidenav-in .sidenav-overlay {
  display: block;
}

.sidenav-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1497;
  display: none;
}

.sidenav-scroller {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 55px;
  padding-bottom: 55px;
  border-bottom: 1px solid #e6e6e6;
}

.sidenav-back-toggle {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  padding: 12px 20px;
  white-space: initial;
  display: none;
}

.sidenav-back-toggle .hzi-font {
  margin-right: 0.5em;
  font-size: 0.8em;
  vertical-align: middle;
  line-height: inherit;
}

.sidebar-nav-container {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.sidebar-nav-item {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.sidebar-nav-item > .menu-title {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  padding: 12px 20px;
  white-space: initial;
}

.sidebar-nav-item > .menu-title .hzi-font {
  font-size: 1.2em;
  margin-right: 0.5em;
  float: left;
}

.sidebar-nav-item > .menu-title .hzi-font.hzi-MH-Logo {
  font-size: 1.5em;
  margin-right: 0.3em;
  margin-left: -0.1em;
}

.sidenav-dropdown-menu {
  display: none;
  width: 100%;
  text-align: left;
}

.sidebar-nav-item > .menu-title .sidenav-menu-toggle {
  margin-right: 0;
  float: right;
  line-height: 20px;
  font-size: 14px;
}

.sidenav-scroller .sidenav-menu-header {
  font-size: 12.8px;
  height: 22px;
  line-height: 22px;
  padding: 0 20px;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  background: #eee;
  display: block;
  color: #666;
}

.sidebar-nav-item:last-child {
  border-bottom: none;
}

body.sidenav-in .menu-title .hzi-Down-Arrow {
  display: none;
}

body.sidenav-in .menu-active .menu-body {
  display: block;
}

.level-2 .sidenav-back-toggle {
  display: block;
}

.sidenav-dropdown-menu .highlighted-menu-title {
  font-size: 12.8px;
  height: 22px;
  line-height: 22px;
  padding: 0 20px;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  background: #eee;
  display: block;
  color: #666;
}

.sidenav-dropdown-menu .highlighted-menu-title .hzi-font {
  display: none;
}

.level-2 .section-active .menu-active > .menu-title {
  display: none !important;
}

.level-2 .section-active .sidebar-nav-item {
  display: none;
}

.level-2 .section-active .menu-active {
  display: block;
}

.level-2 .sidenav-section {
  display: none;
}

.level-2 .section-active {
  display: block;
}

.sidenav-dropdown-menu li.group-topic-item {
  text-transform: uppercase;
  font-weight: bold;
}

.sidenav-dropdown-menu li > a {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  padding: 12px 20px;
  white-space: initial;
}

.sidenav-dropdown-menu li.group-topic-item > a {
  color: #3d8901;
}

.sidenav-dropdown-menu li.group-topic-item {
  text-transform: uppercase;
  font-weight: bold;
}

.sidenav-dropdown-menu li.group-topic-item > .unclickable {
  display: block;
  font-size: 12.8px;
  line-height: 20px;
  padding: 12px 20px;
  white-space: initial;
  color: #ababab;
}

.active-new-pros-menu-style.menu-pros .sidenav-dropdown-menu ul.list-unstyled + ul.list-unstyled:before {
  display: block;
  content: ' ';
  background: #f0f0f0;
  height: 11px;
  border: 1px solid #d6d6d6;
  border-width: 1px 0;
}

.active-new-pros-menu-style.menu-pros .sidenav-dropdown-menu .indent-child + .indent-child:before {
  content: ' ';
  border: 1px solid #d6d6d6;
  position: absolute;
  left: 20px;
  right: 0;
}

.sidenav-dropdown-menu li + li {
  border-top: 1px solid #e6e6e6;
}

.sidenav-dropdown-menu ul.list-unstyled + ul.list-unstyled {
  border-top: 1px solid #e6e6e6;
}

.active-new-pros-menu-style.menu-pros .sidenav-dropdown-menu li + li {
  border-top: none;
}

.level-2 .section-active .sidenav-menu-header {
  display: none;
}

/* Custom Style - Giang DN */
.hz-mb-show {
  display: none;
}

.scroll-block {
  display: none;
}

/* slide quick-links__pros + topic-strip__container */
.hbs .hz-carded {
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  border-left: none;
  border-right: none;
  padding: 16px;
  margin-bottom: 16px;
}

.quick-links__container .hz-carded {
  padding: 12px;
}

.quick-links__container .hz-carded > header {
  margin-bottom: 12px;
}

.hbs .touch-scroll {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}

.hbs .hz-carded .touch-scroll {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
}

.hbs .scroll-item {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}

.hbs .scroll-item:first-child {
  margin-left: 0;
}

.hbs .touch-scroll .scroll-item {
  width: 95px;
}

.quick-links__container .touch-scroll .scroll-item {
  margin-left: 4px;
  margin-right: 4px;
}

.quick-links__container .touch-scroll .scroll-item:first-child {
  margin-left: 0;
}

.quick-links__pros .touch-scroll .scroll-item {
  width: 160px;
}

.quick-links__container .hz-carded > header + .touch-scroll {
  margin-top: 12px;
  width: calc(100% + 26px);
}

.quick-links__container .quick-links__thumb {
  position: relative;
  text-align: center;
}

.quick-links__container .quick-links__thumb-image-cover {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 37%, rgba(0, 0, 0, 0.4) 100%);
}

.quick-links__container .quick-links__pros .quick-links__thumb-image-cover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}

.hbs .text-s {
  font-size: 14px;
}

.hbs .text-bold {
  font-weight: bold;
}

.quick-links__container .quick-links__title {
  position: absolute;
  bottom: 9px;
  left: 10px;
  right: 10px;
  color: white;
  text-align: left;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.quick-links__container .touch-scroll .scroll-item:last-child {
  margin-right: 12px;
}

.quick-links__container .quick-links__thumb {
  position: relative;
  text-align: center;
}

.quick-links__container .quick-links__thumb--all-link {
  background-color: #f0f0f0;
  height: 96px;
}

.quick-links__container .quick-links__thumb--all-link .quick-links__title {
  color: #3d8901;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 15px;
  left: 0;
  bottom: auto;
  right: 0;
  text-shadow: none;
}

.topic-strip__container .touch-scroll .scroll-item {
  margin: 0 4px;
  width: auto;
}

.topic-strip__container .touch-scroll .scroll-item:first-child {
  margin-left: 0;
}

.topic-strip__item {
  border: 1px solid #f0f0f0;
  width: 112px;
}

.topic-strip__item {
  border: 1px solid #f0f0f0;
  width: 112px;
}

.topic-strip__link {
  position: relative;
  display: block;
  height: 112px;
  padding: 16px;
}

.topic-strip__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.topic-strip__filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.06);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#00000000', GradientType=0);
  background-color: transparent;
}

.topic-strip__title {
  position: absolute;
  bottom: 8px;
  left: 10px;
  right: 10px;
  font-weight: bold;
  line-height: 1.2;
  max-height: 3.6em;
  overflow: hidden;
  text-align: center;
}

.quick-links__container .touch-scroll .scroll-item:last-child {
  margin-right: 12px;
}

.topic-strip__item--all {
  background: #f0f0f0;
}

.topic-strip__item--all .topic-strip__title {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #3d8901;
}

.topic-strip__item--sale {
  width: 152px;
}

/* end slide quick-links__pros + topic-strip__container */
#homeSlideShow {
  background-color: rgba(0, 0, 0, 0.3);
}

#homeSlideShow .signUpBoxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#homeSlider {
  height: 100%;
}

#homeSlider img {
  width: 100%;
}

.feed-squares-container {
  width: 32%;
}

.row-wrapper .feed-squares-container {
  width: 100%;
}

.row-wrapper .feedItem.square {
  width: 100%;
}

.homeSliderWrapper {
  height: 470px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .feedItem.square .feed-snapshot {
    width: 310px;
    height: 257px;
  }
}

.hp-visitor-browse-links {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
}

.hp-visitor-browse-links.hp-visitor-browse-links--rooms,
.hp-visitor-promo {
  margin-bottom: 25px;
  display: block;
  width: 100%;
}

.moreStories {
  cursor: pointer;
}

#footer-menu.hide-footer {
  display: block;
  height: auto;
}

#footer-menu.hide-footer select {
  position: absolute;
  top: 0;
  left: 0;
}

#footer-menu {
  position: static;
}

.ppb__carousel-slide .text-center.mtl {
  margin-bottom: 15px;
}

.ppb__carousel-slide .item {
  padding: 10px 5px;
}

.ppb__carousel-slide .owl-theme .owl-controls {
  margin-top: 25px;
}

.shop-stories-carousel {
  position: relative;
}

.shop-stories-carousel .owl-theme .owl-controls {
  margin-top: -30px;
}

.shop-stories-carousel .owl-theme .owl-controls .owl-page span {
  background-color: #d8d8d8;
}

.shop-stories-carousel .owl-theme .owl-controls .owl-page.active span,
.shop-stories-carousel .owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: .5;
  background-color: #999;
}

@media screen and (min-width: 1280px) {
  .shop-stories-carousel .item {
    width: 352px;
    height: 295px;
    position: relative;
  }
}

@media screen and (max-width: 1279px) {
  .shop-stories-carousel .item {
    width: 352px;
    height: 295px;
  }
}

.shop-stories-carousel-stack-item.shop-stories-carousel-stack-item {
  padding: 0;
}

.shop-stories-carousel-slide--stack {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.navigationTopicBreadcrumbs {
  padding-bottom: 10px;
}

.shareHorizontalBtn-wrapper {
  float: left;
  font-size: 0;
  padding: 8px;
  width: 34px;
  height: 34px;
  margin-left: 5px;
  margin-right: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.item-socialShare, .shareHorizontalBtn-wrapper {
  position: relative;
}

.shareHorizontalBtn-wrapper.facebook {
  background-color: #3b5988;
}

.shareHorizontalBtn-wrapper .hzi-font {
  color: #fff;
  font-size: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

#shareBar .hzi-font, .shareTable .hzi-font {
  position: relative;
}

.shareHorizontalBtn-wrapper.twitter {
  background-color: #00b3ea;
}

.shareHorizontalBtn-wrapper.plusone {
  background-color: #ff2e00;
}

.shareHorizontalBtn-wrapper:hover {
  cursor: pointer;
}

.shareHorizontalBtn-wrapper.plusone:hover {
  background-color: #cb190c;
}

.shareHorizontalBtn-wrapper.twitter:hover {
  background-color: #0294d3;
}

.shareHorizontalBtn-wrapper.facebook:hover {
  background-color: #103977;
}

.viewSpaceActions {
  padding-top: 20px;
}

#shareTable {
  margin-left: -5px;
  display: inline-block;
  zoom: 1;
  text-align: initial;
}

#relatedSearches .related-searches-links a,
#related_shopping .related-searches-links a {
  background: #f0f0f0;
  padding: 4px 6px;
  display: inline-block;
  zoom: 1;
  margin-bottom: 5px;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  font-weight: bold;
}

#relatedSearches .related-searches-links a:hover,
#related_shopping .related-searches-links a:hover {
  color: #3d8901;
}

div.rGDiv {
  width: auto;
  border: 1px solid #dedddb;
  padding: 8px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px;
}

div.rGUIDiv {
  float: left;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

div.rGTextDiv {
  overflow: hidden;
}

.spaces-grid.product-promotion .row .col-xs-6 {
  float: left;
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

.spaces-grid .whiteCard .space-meta {
  font-size: 13px;
  padding: 6px;
  min-height: 49px;
}

.reloadMe.rimg .row {
  margin-bottom: 10px;
}

.reloadMe.rimg .sideThumbnailFourth img {
  width: 100%;
  height: auto;
}

.spaces-grid.recommended-spaces .whiteCard .space-meta {
  min-height: auto;
}

.spaces-grid.recommended-spaces .imgLink img {
  width: 100%;
}

#lbClose {
  cursor: pointer;
}

.topic {
  display: inline-block;
  zoom: 1;
  padding: 0px 7px 3px 0px;
}

.topicName a {
  font-size: 13px;
  color: #3d8901;
}

.topicSeparator {
  zoom: 1;
  border-left: 1px solid #ccccca;
  margin-right: 7px;
  display: inline-block;
  height: 1em;
  position: relative;
  top: 4px;
}

@media (min-width: 1280px) {
  #mainContent .leftSideContentWithAd .topicContainer,
  #mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn #viewGalleryContentWrapperNarrow {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
}

#mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn .viewGalleryAuthor {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.viewGalleryAuthor .viewGalleryAuthorImageDiv {
  float: left;
  margin-right: 0px;
  height: 40px;
}

.viewGalleryAuthor .viewGalleryAuthorText {
  margin: 0 0 0 45px;
}

#mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn .viewGalleryAuthor .viewGalleryAuthorText {
  margin-left: 50px;
}

.viewGalleryDescriptionHolder {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 16px;
}

.gallery-photo-container .gallery-photo {
  margin-bottom: 15px;
}

.gallery-photo-container .gallery-photo {
  overflow: hidden;
  position: relative;
  height: auto;
}

#mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn .gallery-photo-container .gallery-photo {
  margin-bottom: 16px;
}

.gallery-photo-container .gallery-text {
  margin-bottom: 18px;
}

.gallery-photo-container {
  overflow: hidden;
}

.gallery-photo-container.portrait .gallery-photo {
  width: 422px;
  border-right: 20px solid transparent;
  float: left;
}

#mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn .gallery-photo-container.portrait .gallery-photo {
  width: 412px;
  border-right: 12px solid transparent;
  margin-bottom: 12px;
}

.gallery-photo:hover .wrapper-block {
  display: block;
}

.r-sidebar .whiteCard.q {
  margin-bottom: 15px;
  border: 0;
}

#mainContent .rightSideBar .adSideBar .r-sidebar .whiteCard {
  margin-bottom: 16px;
}

.hbs .text-dt-s {
  font-size: 13px;
}

.whiteCard .fixedHeight {
  max-height: 80px;
}

.whiteCard.q .context {
  margin-left: 100px;
  padding: 10px;
}

#mainContent .rightSideBar .adSideBar .r-sidebar .whiteCard .context {
  padding: 0 8px 8px;
}

.hbs a {
  color: #333333;
  text-decoration: none;
}

.metaInfoIconStrip a {
  display: inline-block;
  zoom: 1;
  min-width: 50px;
  color: #888;
}

.metaInfoIconStrip .hzi-font {
  margin-right: 5px;
  font-size: 13px;
  color: #888;
}

.r-sidebar div.callToDiscussion {
  font-size: 14px;
  font-weight: bold;
}

.latestGalleryContainer.whiteCard {
  margin-left: 0;
}

#mainContent .rightSideBar .adSideBar .r-sidebar .whiteCard {
  margin-bottom: 16px;
}

#mainContent .rightSideBar .adSideBar .r-sidebar#latestGalleriesContainer .latestGalleryContainer {
  border: none;
}

.latestGalleryContainer .context {
  margin-left: 100px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: left;
  padding: 10px;
}

#mainContent .rightSideBar .adSideBar .r-sidebar .whiteCard .context {
  padding: 0 8px 8px;
}

.leftSideContentWithAd.promotedProfessional, .leftSideContentWithAd.galleryComments, .leftSideContentWithAd.similarGalleries, .adSideBar.footer {
  margin-top: 16px;
}

body.hz-grey-bg .leftSideBar, body.hz-grey-bg .rightSideContent, body.hz-grey-bg .leftSideContentWithAd, body.hz-grey-bg .adSideBar, body.hz-grey-bg .fullContent {
  background: #fff;
  padding: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

#mainContent .leftSideContentWithAd {
  width: 650px;
  padding: 16px 0;
}

@media (min-width: 1280px) {
  #mainContent .leftSideContentWithAd {
    width: 850px;
  }
}

.viewGalleryComments {
  clear: both;
  margin: 40px 0;
  position: relative;
}

.hbs .text-dt-m {
  font-size: 14px;
}

#mainContent .leftSideContentWithAd .viewGalleryCommentsCardView .viewGalleryComments {
  margin: 40px auto;
  width: 618px;
}

@media (min-width: 1280px) {
  #mainContent .leftSideContentWithAd .viewGalleryCommentsCardView .viewGalleryComments {
    width: 660px;
  }
}

#mainContent .leftSideContentWithAd .viewGalleryCommentsCardView .viewGalleryComments .moreComments .seeMoreComments {
  display: block;
  padding: 9px 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.cardView {
  padding: 0 16px;
}

div.similarGalleriesContainer {
  clear: left;
  width: inherit;
  margin-top: 20px;
}

.leftWhiteShadowColumn.similarGalleries div.similarGalleriesContainer {
  padding-top: 0;
  margin-top: 0;
}

.cardView div.similar-img .similarGalleryPhoto {
  overflow: hidden;
}

.cardView div.similar-ibk-img-1 .similarGalleryPhoto {
  margin-right: 16px;
  float: left;
  display: block;
  width: 301px;
}

@media (min-width: 1280px) {
  .cardView div.similar-ibk-img-1 .similarGalleryPhoto {
    width: 402px;
  }
}

.cardView div.similar-ibk-img-1 {
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
  margin-bottom: 16px;
  position: relative;
}

.cardView div.similar-ibk-img-1 .comments {
  text-align: right;
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}

.cardView div.similar-ibk-img-1 .comments .commentIcon {
  color: #ababab;
}

.cardView div.similar-ibk-img-1:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.rightSideContent .firstGallery {
  margin: -16px -16px 0;
  position: relative;
}

.rightSideContent .firstGallery .galleryImageConatiner {
  width: 764px;
  height: 290px;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .rightSideContent .firstGallery .galleryImageConatiner {
    width: 964px;
  }
}

.rightSideContent .firstGallery .galleryTextContainer {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.18);
  padding: 0;
}

.rightSideContent .firstGallery .galleryTextContainer .galleryTitle {
  text-align: center;
  width: 100%;
  height: 100%;
}

div.galleryTitle a {
  margin-bottom: 3px;
  word-wrap: break-word;
  overflow: hidden;
}

.rightSideContent .firstGallery .galleryTextContainer .galleryTitle a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.rightSideContent .firstGallery .galleryTextContainer .galleryTitle a span {
  color: #fff;
  font-size: 40px;
  line-height: 42px;
  width: 660px;
  display: inline-block;
  zoom: 1;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  margin-top: 60px;
}

.rightSideContent .firstGallery .galleryTextContainer .gallerySubtext {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 84px;
}

.rightSideContent .firstGallery .galleryTextContainer .gallerySubtext .subtextLink {
  display: block;
  padding: 20px;
}

.rightSideContent .firstGallery .galleryTextContainer .gallerySubtext .subtextLink .subtextWrapper {
  color: #fff;
  width: 540px;
  display: inline-block;
  zoom: 1;
}

@media (min-width: 1280px) {
  .rightSideContent .firstGallery .galleryTextContainer .gallerySubtext .subtextLink .subtextWrapper {
    width: 640px;
  }
}

.rightSideContent .firstGallery .galleryTextContainer .gallerySubtext .subtextLink .fullStoryBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.rightSideContent .firstGallery:hover .fullStoryBtn {
  background: #3d8901;
  border: 2px solid #3d8901 !important;
  text-shadow: none !important;
}

.rightSideContent .gallery {
  overflow: hidden;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;
}

.rightSideContent .gallery .galleryImageConatiner {
  float: left;
  width: 268px;
  height: 268px;
  margin-right: 16px;
  overflow: hidden;
}

.rightSideContent .gallery .galleryTextContainer {
  float: left;
  width: 448px;
  height: 268px;
  position: relative;
}

@media (min-width: 1280px) {
  .rightSideContent .gallery .galleryImageConatiner {
    width: 458px;
  }
  rightSideContent .gallery .galleryTextContainer {
    width: 458px;
  }
}

.rightSideContent .gallery .galleryTextContainer .dateAndComments {
  position: absolute;
  bottom: 0px;
  color: #ababab;
  width: 100%;
}

.rightSideContent .gallery .galleryTextContainer .dateAndComments .comments, .rightSideContent .gallery .galleryTextContainer .dateAndComments .glViews, .rightSideContent .gallery .galleryTextContainer .dateAndComments .glBookmarks {
  float: right;
  padding-right: 10px;
  text-align: left;
  position: relative;
}

.rightSideContent .gallery .galleryTextContainer .dateAndComments .comments a, .rightSideContent .gallery .galleryTextContainer .dateAndComments .glViews a, .rightSideContent .gallery .galleryTextContainer .dateAndComments .glBookmarks a {
  color: #ababab;
}

a.commentIcon, a.voteIcon {
  height: 20px;
}

.rightSideContent .gallery .galleryTextContainer .dateAndComments .comments a .hzi-font, .rightSideContent .gallery .galleryTextContainer .dateAndComments .glViews a .hzi-font, .rightSideContent .gallery .galleryTextContainer .dateAndComments .glBookmarks a .hzi-font {
  color: #ababab;
  font-size: 16px;
  height: 20px;
  padding-right: 5px;
}

.rightSideContent .pagination-wrapper {
  margin-top: 30px;
}

.pro-landing-hero {
  margin: -16px -16px 40px;
  height: 250px;
  position: relative;
  background-position: center;
}

.pro-landing-hero-v2 {
  height: auto;
  background-image: url(https://st.hzcdn.com/fimgs/c93186e007509d2f_0919-w964-h350-b0-p0--home-design.jpg);
}

.pro-landing-hero__content {
  padding: 33px 66px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pro-landing-hero-v2 .pro-landing-hero__content {
  padding-left: 125px;
  padding-right: 125px;
}

.pro-landing-hero .main-title {
  text-align: center;
  color: #fff;
  margin-bottom: 46px;
}

.pro-landing-hero-v2 .main-title {
  color: #fff;
  margin-bottom: 10px;
  margin-top: 0;
}

.pro-landing-hero-v2 .secondary-title {
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0;
}

.hbs .text-unbold {
  font-weight: normal;
}

.pro-search-bar[compId="searchbar"] {
  padding-bottom: 15px;
}

.pro-landing-hero ul.pro-search {
  border: none;
}

ul.pro-search {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

#proLocationSearch {
  width: 125px;
}

.hbs .form-control.input-lg, .hbs input[type=text].input-lg, .hbs input[type=password].input-lg {
  height: 40px;
  padding: 7px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
}

ul.pro-search .pro-type-search-input {
  width: 40%;
}

ul.pro-search.pro-search-v2 .pro-type-search-input {
  width: 60%;
  position: relative;
}

ul.pro-search.pro-search-v2 #proZipSearch, ul.pro-search.pro-search-v2 #proKeywordSearch {
  border: none;
  width: 100%;
  font-size: 18px;
}

ul.pro-search.pro-search-v2 #proKeywordSearch {
  border-radius: 3px 0 0 3px;
}

ul.pro-search.pro-search-v2 #proZipSearch, ul.pro-search.pro-search-v2 #proKeywordSearch {
  border: none;
  width: 100%;
  font-size: 18px;
}

ul.pro-search.pro-search-v2 .pro-search-input {
  height: 48px;
}

ul.pro-search.pro-search-v2 #proZipSearch {
  padding-left: 30px;
  border-radius: 0;
}

ul.pro-search .pro-location-search-input {
  width: 25%;
  position: relative;
}

ul.pro-search.pro-search-v2 .pro-location-search-input {
  width: 20%;
}

ul.pro-search #proLocationIcon {
  position: absolute;
  line-height: 40px;
  top: 0;
  left: 7px;
  color: #ababab;
}

ul.pro-search.pro-search-v2 #proLocationIcon {
  top: 4px;
}

ul.pro-search li {
  float: left;
  vertical-align: middle;
}

ul.pro-search.pro-search-v2 .pro-search-button-input {
  width: 20%;
  border-left: none;
}

ul.pro-search .pro-search-button {
  width: 100%;
  height: 100%;
  border-radius: 0 3px 3px 0;
  display: block;
  font-weight: bold;
}

ul.pro-search.pro-search-v2 .pro-search-input {
  height: 48px;
}

.pro-landing-hero__content {
  padding: 33px 66px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.pro-search li + li {
  border-left: 1px solid #e6e6e6;
}

.pro-tile {
  position: relative;
  float: left;
  width: 23%;
  margin-bottom: 2%;
}

.pro-tiles-group__pro-icon {
  font-size: 12px;
  background: #3d8901;
  color: #fff;
  float: left;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 9px;
}

.hbs .img-responsive-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.hbs .img-responsive-wrapper.img-responsive-square {
  padding-bottom: 100%;
}

.hbs .img-responsive-wrapper .img-responsive, .hbs .img-responsive-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.hbs img {
  vertical-align: middle;
}

.pro-tile__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
  background-color: transparent;
}

.pro-tile__title {
  color: #fff;
  position: absolute;
  bottom: 0;
  line-height: 1.2em;
  padding: 1em 15px;
  font-weight: bold;
}

.proDirectory .headerContainer {
  margin-bottom: 30px;
}

.horizontal.pro-card {
  position: relative;
  border: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.hz-grey-bg .horizontal.pro-card {
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.horizontal.pro-card .pro-cover-photos {
  font-size: 0;
  float: left;
  width: 380px;
  overflow: hidden;
  position: relative;
}

.hz-grey-bg .horizontal.pro-card .pro-cover-photos {
  width: 342px;
  float: left;
}

.horizontal.pro-card .vcard {
  width: 390px;
  float: left;
}

@media (min-width: 1280px) {
  .horizontal.pro-card .pro-cover-photos {
    width: 411px;
  }
  .hz-grey-bg .horizontal.pro-card .pro-cover-photos {
    width: 383px;
  }
  .horizontal.pro-card .vcard {
    width: 566px;
  }
  .hz-grey-bg .horizontal.pro-card .vcard {
    width: 549px;
  }
  .horizontal--phone-contact.pro-card .pro-info {
    max-width: 450px;
  }
}

.horizontal--phone-contact.pro-card .pro-header {
  overflow: initial;
}

.horizontal.pro-card .pro-header {
  padding: 0 0 0 10px;
  position: relative;
}

.horizontal.pro-card .vcard .pro-meta, .horizontal.pro-card .vcard .pro-description {
  padding: 10px 0 0 10px;
}

.pro-card .pro-info {
  overflow: hidden;
}

.horizontal--phone-contact.pro-card .pro-meta-extra {
  padding-left: 10px;
  position: absolute;
  margin: 0;
  bottom: 16px;
}

.horizontal--phone-contact.pro-card .pro-meta-extra .pro-list-item + .pro-list-item {
  margin-left: 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 230px;
}

@media (min-width: 1280px) {
  .horizontal--phone-contact.pro-card .pro-meta-extra .pro-list-item + .pro-list-item {
    max-width: 345px;
  }
}

.horizontal--phone-contact.pro-card .pro-meta-extra .pro-location {
  color: #ababab;
}

.horizontal--phone-contact.pro-card .pro-meta-extra .pro-list-item {
  float: left;
}

.hz-grey-bg .horizontal.pro-card:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.pro-card .proThumb {
  float: left;
  padding-right: 10px;
  width: 40px;
  height: 40px;
}

.pro-card .pro-title, .pro-card .pro-rating {
  margin-left: 50px;
  display: block;
}

.horizontal.pro-card .pro-header .pro-title {
  font-size: 18px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.4em;
  max-height: 4.2em;
  overflow: hidden;
}

.horizontal--phone-contact.pro-card .pro-header .pro-title {
  line-height: 1.2em;
  margin-bottom: 5px;
  max-height: 4.8em;
}

#footerContainer {
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
}

#footerContainer, .footerContainer {
  zoom: 1;
  clear: both;
  position: relative;
  margin: 0 auto;
  height: 440px;
  margin-top: -440px;
  font-size: 14px;
  min-width: 1000px;
}

.hbs.simple-header .houzz-header > .container {
  padding-left: 0;
}

.authflow .houzz-header > .container, .authflow ul#tabs {
  width: 780px;
  margin: 0 auto;
}

#mainContent {
  padding-top: 26px;
  min-height: 600px;
}

#mainContent.signin {
  width: 780px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

.hbs.simple-header #mainContent {
  padding-top: 0;
}

.signup #authFlowContainer, #mainContent.signin #authFlowContainer {
  width: 780px;
  margin-top: 16px;
  margin-bottom: 40px;
  margin-left: 0px;
}

#mainContent.signin #authFlowContainer {
  margin-bottom: 60px;
  margin-top: 30px;
}

.dlgUserDetails {
  width: 300px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: 32px;
  float: left;
}

signup .dlgUserDetails, .signin .dlgUserDetails {
  margin-top: 0px;
  width: 315px;
  margin-right: 50px;
}

#signinCenterCol {
  float: left;
  width: 41px;
  height: 316px;
  position: relative;
}

#dlgDivider {
  float: left;
  width: 1px;
  height: 264px;
  margin-top: 16px;
  margin-left: 20px;
  background-color: #C0C0BE;
}

#dlgFbSignIn {
  float: left;
  width: 289px;
  margin-left: 32px;
  padding: 24px 0px 0px 0px;
}

.signin #dlgFbSignIn {
  margin-left: 50px;
}

.auth-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.auth-btn__icon--google {
  background: url(images/photos/google-sign-in.png);
  display: inline-block;
  zoom: 1;
  width: 18px;
  height: 18px;
}

.dlgFbSubMessage {
  text-align: left;
  width: 289px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-size: 16px;
  line-height: 26px;
}

.signin .tos {
  font-size: 12px;
  line-height: normal;
  margin-top: 30px;
  width: 100%;
}

body.hbs {
  background: #fff;
}

.dlgInputRow {
  overflow: hidden;
  margin-bottom: 15px;
}

#body-container #bg-image {
  display: block;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#body-container #bg-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#body-container .dialog {
  display: none;
  opacity: 0;
  position: relative;
  margin: auto;
  background: white;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1.5px 3.33px 13px rgba(0, 0, 0, 0.7);
}

@media (max-height: 570px) {
  #body-container .dialog {
    margin: 0 auto;
  }
}

#body-container #signup #header {
  text-align: center;
}

#body-container .dialog #header {
  background: #f0f0f0;
  padding: 10px;
}

#body-container #signup #footer {
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding: 15px 0;
}

#body-container .dialog #body {
  position: relative;
  padding: 25px 35px;
  overflow: hidden;
}

#body-container #signup #body .facebook-signup {
  margin-top: 34px;
  padding-left: 48px;
  text-align: center;
}

#signup .create-account {
  position: relative;
}

#signup .create-account:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: -14px;
  width: 1px;
  height: 100%;
  background-color: #e7e7e7;
}

#body-container .dialog #body {
  position: relative;
  padding: 25px 35px;
  overflow: hidden;
}

#body-container #signup #body .create-account #sign-up-btn {
  width: 100%;
  margin-top: 15px;
}

#body-container #signup #body .tos {
  margin: 20px 0 0;
  width: 100%;
  color: #919191;
}

#body-container #signup #body .facebook-signup .fb-title {
  text-align: left;
  width: 244px;
  margin: 24px auto;
}

#body-container #signup #body .section #emailSignupForm {
  width: 265px;
}

.md_static_content h1 {
  font-size: 24px;
  margin-bottom: 0.5em;
}

.hz.contact .header {
  background-color: #FFFFFF;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 0 0 1px;
  height: 101px;
}

.hz.contact main, .hz.contact .header-inner, .hz.contact .footer-inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 980px;
}

.hz.contact .logo {
  float: left;
}

.hz.contact .logo a {
  display: inline-block;
  line-height: 100px;
}

.hz.contact .logo a .logo img {
  vertical-align: middle;
  max-height: 60px;
}

.hz.contact .user-nav {
  float: right;
  margin-top: 40px;
}

.hz.contact .user-nav > * {
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
}

.hz.contact .submit-a-request {
  border-left: 1px solid #ECECEC;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  margin-left: 15px;
  padding-left: 15px;
}

.hz.contact a {
  color: #3d8901;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.hz.contact button, .hz.contact [role=button], .hz.contact [type=button], .hz.contact [type=submit] {
  background: transparent;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 -2px #f6f6f6;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.03);
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: lighter;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}

.hz.contact .user-nav > * {
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
}

.hz.contact .login, .hz.contact .user-info {
  margin-left: 20px;
}

.hz.contact h1 {
  color: #000;
  font-weight: lighter;
  font-size: 32px;
}

.hz.contact .hero-unit h3 {
  font-weight: normal;
}

.hz.contact .category h2 a, .hz.contact .section h3 a {
  color: inherit;
}

.hz.contact .category-empty, .hz.contact .section {
  display: inline-block;
  padding: 0 50px 30px 0;
  vertical-align: top;
  width: 44.5%;
}

.hz.contact .article-list li, .hz.contact .community li {
  margin-bottom: 10px;
}

.hz.contact .community h2, .hz.contact .community h3, .hz.contact .section h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 10px;
  text-transform: uppercase;
}

.hz.contact .category {
  border-bottom: 1px dotted #ccc;
}

.hz.contact .category h2 {
  font-size: 24px;
  font-weight: lighter;
  margin: 20px 0 15px;
  padding-bottom: 0x;
}

.p-list .imageArea {
  width: auto;
}

.gg-sign-up .section input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
}

/*@media (min-width: 1280px) {
  .whiteCard.xl .photo {
    width: 550px;
  }
}

.whiteCard.xl .photo {
  width: 500px;
  position: relative;
  overflow: hidden;
}
.whiteCard.xl .photo {
  min-height: 250px;
  width: 550px;
}

.photoMeta {
  position: absolute;
  padding-left: 10px;
  top: 0;
  left: 550px;
  right: 0;
  bottom: 0;
}

.content-row.xl .whiteCard {
  border: none;
  .user-thumb {
    display: inline-block;
    zoom: 1;
    margin-right: 10px;
    width: 42px;
    height: 42px;
  }
  .user-name-wrapper {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    max-width: 148px;
  }
  .photoMeta .uploader, .photoMeta .photoInfo {
    padding: 10px;
    overflow: hidden;
  }
  .photoMeta .photoDetails.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .photoMeta .autoDesc {
    background: #fff;
    font-size: 13px;
    color: #666;
    padding: 7px 10px 0px 10px;
  }
  .photoMeta .stats {
    background: #fff;
    font-size: 13px;
    color: #666;
    padding: 7px 10px;
  }
}*/
/* footer, light box */
#stickyFooterActions {
  z-index: 999;
}

body.showlb {
  overflow: hidden;
}

.thumb-grid.grid-5 li {
  width: calc(20% - 12px + 8px / 5);
}

#minimizedFooter {
  width: 100%;
  padding-top: 16px;
  text-align: center;
}

.sidebar .sidebar-body .sidebar-item.selected .sidebar-item-label {
  color: #3d8901;
}

.hbs .mtl {
  margin-top: 16px;
}

.pagination-wrapper {
  text-align: center;
  margin: 60px 0 20px 0;
}

.pagination-wrapper .navigation-button.next {
  color: #fff;
  background: #3d8901;
  border-color: #3d8901;
}

.sizes-buttons .sprite-sizes {
  background-image: url(../pic/Sizes.png);
  display: inline-block;
  zoom: 1;
  width: 30px;
  height: 30px;
}

.sizes-buttons .sprite-sizes.size-s {
  background-position: 0px -30px;
}

.sizes-buttons .sprite-sizes + .sprite-sizes {
  border-left: 1px solid #ccc;
}

.sizes-buttons .sprite-sizes.size-m {
  background-position: -30px -30px;
}

.sizes-buttons .sprite-sizes.size-l {
  background-position: -60px -30px;
}

.sizes-buttons .sprite-sizes.size-xl:hover,
.sizes-buttons .sprite-sizes.size-xl.active {
  background-position: -90px 0px;
}

.sizes-buttons .sprite-sizes.size-lightbox {
  background-position: -120px -30px;
}

.sizes-buttons.size-btns-list-layout {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  float: right;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 0;
}

.sizes-buttons .sprite-sizes.size-s:hover,
.sizes-buttons .sprite-sizes.size-s.active {
  background-position: 0px 0px;
}

.sizes-buttons .sprite-sizes.size-m:hover,
.sizes-buttons .sprite-sizes.size-m.active {
  background-position: -30px 0px;
}

.sizes-buttons .sprite-sizes.size-l:hover,
.sizes-buttons .sprite-sizes.size-l.active {
  background-position: -60px 0px;
}

.sizes-buttons .sprite-sizes.size-lightbox:hover,
.sizes-buttons .sprite-sizes.size-lightbox.active {
  background-position: -120px 0px;
}

.headerContainer .pagination #paginationBar .pagination-text {
  line-height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
}

.headerContainer .pagination #paginationBar .navigation-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 9px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.headerContainer .pagination #paginationBar .navigation-button .hzi-font {
  font-size: 10px;
  display: block;
}

.headerContainer .pagination #paginationBar .pagination-text:hover {
  color: inherit;
  background-color: inherit;
}

.headerContainer .pagination {
  margin: 0px;
  float: right;
  clear: none;
}

#projectSpaces .whiteCard .imageArea,
.browsePhotos .whiteCard .imageArea {
  overflow: hidden;
}

.whiteCard.xl .imageArea {
  position: relative;
}

.whiteCard .photo:hover .wrapper-block {
  display: block;
}

.promote {
  cursor: pointer;
  background-color: #7ac143;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  max-width: 90%;
  display: inline-block;
  pointer-events: all;
}

.imageArea {
  width: 550px;
  overflow: hidden;
  position: relative;
}

.imageArea img {
  height: auto;
}

.whiteCard .hoverButtons {
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  height: 58px;
  bottom: 0;
  left: 0px;
  z-index: 1;
  text-align: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.whiteCard .photo:hover .hoverButtons, .whiteCard:hover .hoverButtons {
  opacity: 1;
  filter: alpha(opacity=100);
}

.whiteCard .hoverButtons .hzBtn {
  margin-top: 10px;
}

.whiteCard.xl .hzBtn + .hzBtn, .whiteCard.s .hzBtn + .hzBtn {
  margin-left: 8px;
}

.whiteCard .hoverButtons .hzBtn {
  margin-top: 10px;
}

.wrapper-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  pointer-events: none;
}

#projectSpaces .whiteCard .imageArea,
.browsePhotos .whiteCard .imageArea {
  overflow: hidden;
}

.wrapper-table {
  display: table;
  height: 100%;
  width: 100%;
}

.wrapper-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.social-button-row {
  float: left;
  padding-right: 6px;
}

.shareBtns .social-button-row, .shareBtns .action-button-row {
  padding: 0;
  overflow: hidden;
}

.shareBtns .social-button-row .hzi-font {
  color: #666;
  float: left;
  font-size: 27px;
  margin-left: 6px;
}

.shareBtns .social-button-row,
.shareBtns .action-button-row {
  padding: 0;
  overflow: hidden;
}

.shareBtns .icon-text-combo {
  padding-right: 4px;
  margin-left: 8px;
  font-size: 12px;
  color: #666;
  line-height: 28px;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  white-space: nowrap;
}

.shareBtns .action-button-row .hzi-font {
  color: #666;
  font-size: 16px;
  margin-right: 4px;
}

.content-row.xl, .content-row.bottom-content-module,
.content-row.top-content-module {
  border-top: 1px solid #e6e6e6;
  padding-top: 16px;
  padding-bottom: 16px;
}

.content-row:before, .content-row:after {
  display: table;
  content: "";
  line-height: 0;
}

.content-row:after {
  clear: both;
}

.content-row:before, .content-row:after {
  display: table;
  content: "";
  line-height: 0;
}

.shareBtns .social-button-row .hzi-Facebook:hover,
.shareBtns .social-button-row .hzi-SmallFacebook:hover {
  color: #3b5998;
}

.shareBtns .social-button-row .hzi-Twitter:hover {
  color: #00aced;
}

.shareBtns .social-button-row .hzi-Google:hover {
  color: #dd4b39;
}

.shareBtns .icon-text-combo:hover .hzi-font {
  color: #3d8901;
}

.ideabook-actions-wrapper {
  margin-top: 25px;
  padding-left: 0;
  padding-right: 0;
}

#mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn #gallerySubtitleDisplay, #mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn #viewGalleryDescription, #mainContent .leftSideContentWithAd #viewGalleryMainNarrow.leftWhiteShadowColumn #gallerySpaces .gallery-text .thBuzz {
  font-size: 17px;
}

.viewGalleryDescription, .viewGalleryMissingDescription {
  margin-top: 20px;
  word-wrap: break-word;
}

#body-container #signup {
  width: 675px;
  opacity: 1;
  display: block;
  margin-top: 200px;
}

@media screen and (max-width: 799px) {
  #body-container #signup {
    width: 85%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
  #body-container #signup #body .section #emailSignupForm {
    width: auto;
  }
  #body-container #signup #body .facebook-signup {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  #body-container #signup {
    position: absolute;
  }
}

@media screen and (max-width: 639px) {
  .mb-hide {
    display: none;
  }
}

.mb-show {
  display: none;
}

@media screen and (max-width: 639px) {
  .mb-show {
    display: block;
  }
}

@media screen and (max-width: 999px) {
  .hbs .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 799px) {
  body.hz-grey-bg .leftSideBar {
    display: none;
  }
  body.hz-grey-bg .rightSideContent {
    width: 100%;
  }
  .feedItem.square .feed-snapshot {
    width: 246px;
    height: 225px;
  }
  .feedItem.home-feed .feed-snapshot .feed-type-indicator .featured-title {
    font-size: 14px;
  }
  .houzz-header-secondary--simplified .header-nav-rooms .header-nav-room > .menu-title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .houzz-header-secondary--simplified .header-nav-rooms {
    text-align: left;
  }
  .houzz-header-secondary--simplified .header-nav-rooms .header-nav-room > .menu-title {
    font-size: 13px;
  }
  .houzz-header-secondary--simplified .text-primary {
    font-size: 13px;
  }
  .houzz-header-secondary--simplified .hsh__column .hsh__list {
    padding-right: 15px;
  }
  .houzz-header-secondary--simplified .hsh__menu--sale-toplvl .hsh__column + .hsh__column,
  .houzz-header-secondary--simplified .hsh__menu--pros-toplvl .hsh__column + .hsh__column,
  .houzz-header-secondary--simplified .hsh__menu--photos-toplvl .hsh__column + .hsh__column {
    padding-right: 15px;
  }
  .houzz-header-secondary--simplified .header-nav-rooms .header-nav-dropdown-menu {
    font-size: 11px;
  }
  #navHeader .menu-active .menu-body {
    left: 0;
    width: 100%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  #navHeader .menu-active .menu-body.hsh__menu--sale-toplvl {
    right: 0;
    left: auto;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #navHeader .menu-active .menu-body.hsh__menu--sale-toplvl .hsh__column {
    padding-left: 10px;
    padding-right: 5px;
  }
  #navHeader .menu-active .menu-body.hsh__menu--sale-toplvl .hsh__column:last-child .hsh__list {
    padding-right: 10px;
  }
  #navHeader .menu-active .menu-body.hsh__menu--pros-toplvl .hsh__column {
    padding-right: 0;
    padding-left: 5px;
  }
  #navHeader .menu-active .menu-body.hsh__menu--pros-toplvl .hsh__column .hsh__list {
    padding-right: 0;
  }
  #navHeader .menu-active .menu-body.hsh__menu--photos-toplvl {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  #navHeader .menu-active .menu-body.hsh__menu--photos-toplvl .hsh__column {
    padding-right: 0;
  }
  #navHeader .menu-active .menu-body.hsh__menu--photos-toplvl .hsh__column .hsh__list {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .hbs .spaceData .col-xs-4 {
    width: 33.33333333%;
  }
  .hbs .spaceData .col-xs-8 {
    width: 66.66666667%;
  }
  #spaceBuzzes {
    padding: 15px;
  }
  .scroll-block {
    display: block;
  }
  .mainImageWrap img {
    width: 100%;
    height: auto;
  }
  .spaceContent {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 16px;
    margin-bottom: 16px;
  }
  .navigationTopicBreadcrumbs {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 16px;
    margin-bottom: 16px;
  }
  .wrapper {
    width: 100%;
  }
  .hbs .rightSideBarWide,
  #relatedSearches,
  #related_shopping {
    display: none;
  }
  .hbs .leftSideContentNarrow {
    float: none;
    width: 100%;
  }
  #mainArea {
    min-width: 0;
  }
  .hbs .container {
    width: 100%;
  }
  .hbs .col-xs-4,
  .hbs .col-xs-8 {
    width: 100%;
  }
  .hbs .row {
    margin-left: 0;
    margin-right: 0;
  }
  #unified-tab-content {
    min-height: 0;
  }
  .feedItem.square {
    width: 100%;
  }
  .feedItem.square .feed-snapshot {
    width: 100%;
    height: auto;
  }
  .hp-seo-container-table-row {
    display: block;
  }
  .hp-visitor-browse-links.hp-visitor-browse-links--rooms {
    width: 100%;
    margin-bottom: 16px;
  }
  .hp-visitor-promo {
    width: 100%;
    display: block;
    margin-bottom: 16px;
  }
  .hp-visitor-browse-links {
    width: 100%;
  }
  .hp-visitor-browse-links.hp-visitor-browse-links--pros {
    height: auto;
  }
  .hp-visitor-promo__img {
    width: 100%;
  }
  #unified-stories .loadMoreBtn {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .hz-mb-show {
    display: block;
  }
}

@media screen and (max-width: 639px) {
  .secondary-rooms-header #navContainer {
    height: 0;
  }
  .hbs .container {
    padding: 0;
  }
  .feedItem.home-feed .feed-snapshot .feed-type-indicator .featured-title {
    font-size: 23px;
  }
  .feedItem.home-feed .feed-hover-buttons {
    opacity: 1;
  }
  .whiteCard.xl .photo {
    width: 100%;
  }
  .photoMeta {
    position: static;
  }
  .headerContainer .pagination {
    float: right;
    margin-top: 10px;
  }
  .content-row.xl .whiteCard .photoMeta .photoDetails.bottom {
    position: static;
  }
}

/*# sourceMappingURL=style.css.map */