@import 'scss/lib';
@import 'scss/common';
@import 'scss/style';
@import 'scss/pages';
@import 'scss/responsive';


.sizes-buttons .sprite-sizes.size-lightbox {
  background-position: -120px -30px;
}

.sizes-buttons.size-btns-list-layout {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  float: right;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 0;
}

.sizes-buttons .sprite-sizes.size-s:hover, 
.sizes-buttons .sprite-sizes.size-s.active {
  background-position: 0px 0px;
}

.sizes-buttons .sprite-sizes.size-m:hover, 
.sizes-buttons .sprite-sizes.size-m.active {
  background-position: -30px 0px;
}

.sizes-buttons .sprite-sizes.size-l:hover, 
.sizes-buttons .sprite-sizes.size-l.active {
  background-position: -60px 0px;
}

.sizes-buttons .sprite-sizes.size-lightbox:hover, 
.sizes-buttons .sprite-sizes.size-lightbox.active {
  background-position: -120px 0px;
}

.headerContainer .pagination #paginationBar .pagination-text {
  line-height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
}

.headerContainer .pagination #paginationBar .navigation-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 9px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.headerContainer .pagination #paginationBar .navigation-button .hzi-font {
  font-size: 10px;
  display: block;
}

.headerContainer .pagination #paginationBar .pagination-text:hover {
  color: inherit;
  background-color: inherit;
}

.headerContainer .pagination {
  margin: 0px;
  float: right;
  clear: none;
}

#projectSpaces .whiteCard .imageArea, 
.browsePhotos .whiteCard .imageArea {
  overflow: hidden;
}

.whiteCard.xl .imageArea {
  position: relative;
}

.whiteCard .photo:hover .wrapper-block {
  display: block;
}

.promote {
  cursor: pointer;
  background-color: #7ac143;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  max-width: 90%;
  display: inline-block;
  pointer-events: all;
}